h1 {
    text-align: center;
}
h4 {
    text-align: right;
}
.contenedor {
    width: 500px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: #edebeb;
}
.form {
    margin: 20px 0;
}
.monto {
    margin: 5px 0;
    padding: 5px 0;
}
.moneda {
    margin: 5px 0;
    padding: 5px 0;
}
.moneda select {
    margin-left: 20px;
}
.botones {
    margin: 15px 0;
    padding: 15px 0;
    margin-left: 230px;
}

